/.dapper
/.cache
/bin
/dist
/build
*.swp
.idea
./backup
backup-restore-operator
operator
!cmd/operator
tool
!cmd/tool
/secretExamples
test-backup-location-local/
.DS_Store
/backups
/tests/hull/output
*~
kubeconfig*.yaml
.vscode
.dep-fetch
bin